@import "../../styles/variables";

.Projects {
  position: relative;
  z-index: 2;
  background-color: white;
}

.tab-marker {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: white;
  .tab-marker-details {
    transform: translateY(-0.5vh);
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: $accent-red;
    box-shadow: $shadow-primary;
    padding: 0.2rem 1.5rem;
  }
  h2 {
    font-family: $display-font;
    font-size: 24px;
    font-weight: 100;
    padding: 0.6rem 0;
    margin: 0;
  }
}
