@import "../../styles/_variables";

.Project {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30vh;
  padding-top: 3rem;
  margin: 12% auto;
  color: $font-light;
  background-color: $background-dark;
  border: 1px solid $accent-blue;
  border-bottom: 7px solid $accent-blue;
  filter: drop-shadow(1px 3px 3px $font-dark);
  .border-style {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 95%;
    width: 99%;
    z-index: 1;
    border: 1px solid $accent-red;
    border-right: 1px dashed $accent-red;
    border-left: 1px dashed $accent-red;
  }
  .project-header {
    position: absolute;
    z-index: 2;
    top: -2rem;
    background-color: $accent-red;
    padding: 0.35rem 2rem;
    transform: skew(20deg);
  }
  .header-skew {
    transform: skew(-20deg);
  }
  .project-title {
    font-family: $display-font;
    font-size: 36px;
    font-weight: 100;
    margin: 0;
  }
  .title-links {
    color: $font-light;
    margin: 0 0.5rem;
  }
  .details-paragraph {
    // ----
    position: absolute;
    top: 3rem;
    z-index: 2;
    margin: 1rem 1rem;
    width: 37%;
    max-height: 60%;
  }
  .dp-right {
    right: 1rem;
  }
  .dp-left {
    left: 1rem;
  }
  .preview-section {
    // ----
    position: absolute;
    top: -4rem;
    z-index: 2;
    width: 50%;
    height: 50vh;
    background-color: $background-light;
    border: 1px solid $accent-blue;
    border-top: 7px solid $accent-blue;
    padding: 1rem;
    transform: skew(-5deg);
    box-shadow: 2px 7px 8px -4px $background-dark;
  }
  .ps-right {
    left: 3rem;
  }
  .ps-left {
    right: 3rem;
  }

  .preview-header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: $font-dark;
    h2 {
      margin: 0;
      margin-bottom: 0.5rem;
    }
    span {
      font-size: 16px;
    }
  }
  .built-with {
    position: absolute;
    bottom: -5rem;
    border: 1px solid $accent-red;
    height: 50px;
    background-color: $background-dark;
    border: 1px solid $accent-blue;
    border-bottom: 7px solid $accent-blue;
    i {
      padding: 0.5rem;
    }
  }
  p {
    font-family: "Slabo 27px", serif;
    font-size: 18px;
    padding: 0 0.5rem;
    margin: 0;
  }

  .preview-icons {
    color: $font-dark;
    transition: 0.09s transform cubic-bezier(1, 0.29, 0, 2.65);
    margin: 0 0.3rem;
    :first-child {
      margin-right: 0.3rem;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }
    a {
      color: $font-dark;
    }
  }
}
