.InsetImage {
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  height: 30vw;
  // max-height: 450px;
  width: 45vw;
  border: 1px solid black;
  border-top: 4px solid black;
  // min-height: 400px;
  width: 100%;

  .cut-out-container {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }

  .frame {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 3;
    box-shadow: inset 0px 5px 7px 1px rgba(0, 0, 0, 0.75);
  }

  .image {
    position: absolute;
    z-index: 1;
    top: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 12% 0%;
    background-color: white;
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 2500px) {
  .InsetImage {
    border: 5px solid red;
    height: 90%;
  }
}

@media screen and (max-width: 2500px) {
  .InsetImage {
    border: 5px solid green;
    height: 90%;
  }
}

@media screen and (max-width: 2300px) {
  .InsetImage {
    border: 5px solid blue;
    height: 90%;
  }
}

@media screen and (max-width: 2100px) {
  .InsetImage {
    border: 5px solid green;
    height: 90%;
  }
}

@media screen and (max-width: 1680px) {
  .InsetImage {
    border: 5px solid yellowgreen;
    height: 90%;
  }
}

@media screen and (max-width: 1400px) {
  .InsetImage {
    border: 5px solid violet;
    height: 90%;
  }
}

@media screen and (max-width: 1050px) {
  .InsetImage {
    border: 5px solid green;
    height: 90%;
  }
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 800px) {
}
