@import "../../styles/variables";

.NavBar {
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $background-dark2;
  padding: 0.5rem 0;
  // filter: drop-shadow(1px 1px 15px black);
  border-bottom: 2px solid red;
  .links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .nav-link {
    padding: 0;
    color: white;
    text-decoration: none;
    transition: 0.2s color ease-in;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: red;
  }
  ul {
    margin: 0.4rem 0;
    padding: 0;
  }
  li {
    margin: 0;
    list-style-type: none;
  }
}

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .NavBar {
    .links {
      width: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .NavBar {
    .links {
      font-size: 12px;
    }
  }
}
