@import "../../styles/variables";

.Intro {
  position: relative;
  -webkit-transform: translateZ(4px);
  -moz-transform: translateZ(4px);
  -o-transform: translateZ(4px);
  transform: translateZ(4px);
  z-index: 4;
  overflow: hidden;
  border-bottom: 4px solid black;
  box-shadow: 1px 1px 15px black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;
  transition: 0.5s ease-in-out;
  color: white;
  .blurb {
    position: relative;
    z-index: 7;
    opacity: 0;
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 5px black;
    transform: translateY(-25px);
  }
  h1 {
    opacity: 1;
  }
  img {
    position: relative;
    z-index: 1;
    opacity: 0;
    position: absolute;
    height: 50%;
    filter: drop-shadow(1px 1px 8px black);
  }
  .image-1 {
    z-index: 2;
    left: 0;
    bottom: 0;
  }
  .image-2 {
    z-index: 4;
    left: 7vw;
    bottom: -1vh;
  }
  .image-3 {
    z-index: 3;
    left: 25vw;
    bottom: -9vh;
  }
  .image-4 {
    z-index: 2;
    left: 40vw;
    bottom: -11vh;
  }
  .image-5 {
    z-index: 3;
    right: -3vw;
    bottom: -4vh;
  }
  .image-6 {
    z-index: 2;
    right: 17vw;
    bottom: -8vh;
  }
  .image-7 {
    height: 40%;
    z-index: 3;
    right: 35vw;
    bottom: -5vh;
  }
  .image-8 {
    z-index: 2;
    right: 30vw;
    bottom: -4vh;
  }
}

// 2560, 1920, 1680, 1440, 800

@media screen and (max-width: 2300px) {
  .Intro {
    font-size: 20px;
    .image-3 {
      visibility: visible;
      bottom: -10vh;
    }
    .image-7 {
      visibility: visible;
      height: 37%;
    }
    img {
      height: 48%;
    }
  }
}

@media screen and (max-width: 2100px) {
  .Intro {
    font-size: 18px;
    .image-7 {
      visibility: visible;
      height: 34%;
      right: 42vw;
      bottom: -3vh;
    }
    img {
      height: 50%;
    }
  }
}

@media screen and (max-width: 1680px) {
  .Intro {
    font-size: 16px;
    .image-3 {
      visibility: visible;
    }
    .image-7 {
      display: none;
      right: 38vw;
    }
    .image-8 {
      right: 30vw;
    }
    img {
      height: 50%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .Intro {
    font-size: 16px;
    .image-3 {
      visibility: visible;
    }
    .image-7 {
      visibility: hidden;
    }
    .image-8 {
      right: 30vw;
    }
    img {
      height: 45%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .Intro {
    font-size: 18px;
    .image-3 {
      visibility: visible;
    }
    .image-7 {
      visibility: hidden;
    }
    .image-8 {
      right: 35vw;
    }
    img {
      height: 42%;
    }
  }
}

@media screen and (max-width: 950px) {
  .Intro {
    font-size: 18px;
    .image-3 {
      opacity: 0;
      display: none;
    }
    .image-7 {
      visibility: hidden;
    }
    .image-8 {
      right: 35vw;
    }
    img {
      height: 36%;
    }
  }
}

@media screen and (max-width: 800px) {
  .Intro {
    font-size: 18px;
    .image-1 {
      display: none;
    }
    .image-2 {
      left: -8vw;
    }
    .image-3 {
      visibility: hidden;
    }
    .image-5 {
      right: -18vw;
    }
    .image-6 {
      right: 16vw;
    }
    .image-7 {
      visibility: hidden;
    }
    .image-8 {
      right: 35vw;
    }
    img {
      height: 40%;
    }
  }
}

@media screen and (max-width: 450px) {
  .Intro {
    font-size: 16px;
    .image-1 {
      display: none;
    }
    .image-2 {
      // display: none;
      left: -10vw;
    }
    .image-3 {
      visibility: hidden;
    }
    .image-5 {
      right: -21vw;
    }
    .image-6 {
      display: none;
      right: 16vw;
    }
    .image-7 {
      visibility: hidden;
    }
    .image-8 {
      z-index: 4;
      right: 25vw;
    }
    img {
      height: 40%;
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .Intro {
    font-size: 16px;
    .image-1 {
      display: none;
    }
    .image-2 {
      // display: none;
      left: -25vw;
    }
    .image-3 {
      visibility: hidden;
    }
    .image-5 {
      right: -21vw;
    }
    .image-6 {
      display: none;
      right: 16vw;
    }
    .image-7 {
      visibility: hidden;
    }
    .image-8 {
      z-index: 4;
      right: 25vw;
    }
    img {
      height: 40%;
    }
  }
}
