@import "./styles/variables";

.App {
  height: 150vh;
}

.AboutMe {
  display: flex;
  background-color: $background-dark;
  border-bottom: 5px solid $accent-blue;
  box-shadow: $shadow-primary;
  color: white;
  height: 100vh;
  .bio {
    border: 1px solid white;
    border-bottom: none;
    flex: 1;
  }
  .skillset {
    border: 1px solid white;
    border-bottom: none;
    flex: 1;
  }
  .aboutme-title {
    font-family: $display-font;
    font-size: 28px;
    margin: 0.5rem 0;
    font-weight: 100;
    text-align: center;
  }
  .aboutme-body {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    color: black;
    p {
      margin: 0.5rem auto;
      max-width: 500px;
      font-size: 14px;
      padding: 0.5rem;
      background-color: white;
      border-bottom: 5px solid $accent-blue;
      box-shadow: $shadow-primary;
      animation: fadeInLeft 1s cubic-bezier(0.22, 1.57, 0.5, 0.84);
      animation-fill-mode: both;
      transform: scale(1);
    }
  }
  .skills {
    margin: 0;
    padding: 0;
  }
  .skill {
    position: relative;
    list-style-type: none;
    margin-top: 0.2rem;
    border: 1px solid $accent-blue;
    border-bottom: 5px solid $accent-blue;
    background-color: $background-dark;
    box-shadow: 5px 5px 15px black;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }
  p {
    text-indent: 2rem;
    margin: 0.5rem 0;
    line-height: 1.4;
    &:hover {
      cursor: pointer;
    }
  }
  li {
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

$total-items: 10;
$total-paras: 4;
@for $i from 1 through $total-items {
  .skill:nth-child(#{$i}) {
    animation-delay: 0.25s * $i;
  }
}

@for $i from 1 through $total-paras {
  .aboutme-body > p:nth-child(#{$i}) {
    animation-delay: 0.15s * $i;
  }
}

.Projects {
  padding-bottom: 8rem;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid $accent-blue;
  height: 0;
  .section-title-details {
    transform: translateY(-6vh);
    padding: 1rem;
    background-color: $accent-red;
    box-shadow: $shadow-primary;
    padding: 0.2rem 1.5rem;
  }
  .page-section-title {
    font-family: $display-font;
    font-size: 24px;
    font-weight: 100;
    padding: 0.6rem 0;
    margin: 0;
    color: white;
  }
  i {
    color: white;
  }
}

.PageFooter {
  height: 70vh;
  background-color: $background-dark;
}
